<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Trang chủ</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>
<h1>Contact</h1>
	<form id="contact-form" action="/contact" method="POST">
		<label for="who"></label>
		<input type="text" name="who" value="<%=data.who%>">
		<label for="department"></label>
		<input type="text" name="dept" value="<%=data.dept%>">
		<label for="email"></label>
		<input type="text" name="email" value="<%=data.email%>">
		<input type="submit" name="submit">
	</form>
</body>
</html>