<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Trang chủ</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>
<h1>profile</h1>
<p>Chào mừng các bạn đến với trang cá nhân của <%=person%>!!</p>
<p>job: <%= data.job%><br>
age: <%= data.age%>
</p>
<h2>
	<ul>
		<% data.hobbies.forEach(function(item) { %>
			<li> <%= item %> </li>
		<%});%>
	</ul>
</h2>

</body>
</html>