<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Trang chủ</title>
	<meta charset="utf-8">
	<style type="text/css">
		body{
			background-color: skyblue;
			padding: 30px;
			font-family: verdana;
		}
		h1{
			text-transform: uppercase;
			text-align: center;
		}
		p{
			text-align: center;
		}
	</style>
</head>
<body>
<h1>profile</h1>
<p>Chào mừng các bạn đến với trang cá nhân của <%=person%>!!</p>
<p>job: <%= info.job%><br>
age: <%= info.age%>
</p>
</body>
</html>